.flex-container {
    background-color: rgb(82, 91, 218);
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: column; */
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.flex-container > div {
    /* width: 100px; */
    background-color: rgb(54, 225, 225);
    font-size: 30px;
    margin: 10px;
    padding: 20px;
}

.flex-container .div1 {
    order: 8;
    flex-basis: 150px;
}